<footer class="footer">
  <small>
    <%= link_to "CYTATORY", root_path %>
    by Cyprian Szwajka
  </small>
  <nav>
    <ul>
      <li><%= link_to "O witrynie", about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
      <li><%= link_to "Zasady", rules_path %></a></li>
    </ul>
  </nav>
</footer>